{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "import",
    "simple-import-sort"
  ],
  "extends": [
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "simple-import-sort/sort": "error"
  }
}