@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

input {
  font-family: $font-family;
}

input::-webkit-input-placeholder {
  font-family: $font-family;
}

input:-ms-input-placeholder {
  font-family:  $font-family;
}

input:-moz-placeholder {
  font-family:  $font-family;
}

input::-moz-placeholder {
  font-family:  $font-family;
}

textarea {
  font-family: $font-family;
}

textarea::-webkit-input-placeholder {
  font-family: $font-family;
}

textarea:-ms-input-placeholder {
  font-family: $font-family;
}

textarea:-moz-placeholder {
  font-family: $font-family;
}

textarea::-moz-placeholder {
  font-family: $font-family;
}

.img {
  max-width: 100%;
}

.link {
  color: $color-link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
}
