$color-main: #069b5f;

$color-black: #000;
$color-white: #fff;
$color-light-grey: #dbe6f6;
$color-grey: #9195b1;
$color-dark-grey: #3c3f41;
$color-link: #15a3ce;
$color-rating: #ff9b24;
$color-red: #d40000;
$color-orange: #ff9955;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;

$font-family: 'Rubik', sans-serif;
$font-size-big: 30px;
$font-size-md: 23px;
$font-size-sm: 18px;
$font-size-tiny: 16px;
$font-size-xs: 14px;

$border-radius: 3px;

$header-height: 50px;